<aside class="card">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body text-center">
    <h5 class="card-title"> {{ index .Site.Author "name" }} </h5>
    <p class="card-text"> {{ index .Site.Author "bio" }} </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div class="text-center">
        {{ len (where .Site.Pages "Section" "post") }} <br> Posts
      </div>
    </li>
    <li class="list-group-item">
      <div class="text-center w-50 float-left">
        {{ len (index .Site.Taxonomies "tags") }} <br> Tags
      </div>
      <div class="text-center w-50 float-left">
        {{ len (index .Site.Taxonomies "categories") }} <br> Categories
      </div>
    </li>
    <li class="list-group-item">
      icons
    </li>
  </ul>
</aside>